p.intro {
        width: 50%;
        font-style: italic;
      }
p.Conclusion {
        width: 75%;
        font-style: italic;
        font-weight: bold;
       }
.important {
        color: red;
       }
