p.intro {
        width: 50%;
        font-style: italic;
      }
p.Conclusion {
        width: 75%;
        font-style: italic;
        font-weight: bold;
       }
.important {
        color: red;
       }
.highlight {
        color: brown;
        width: 150%
        font-weight: 900;
        font-size: 800;
       }
.fish-type {
        color: green:inherit;
        width: 250%;
        font-weight: 900;
        font-size:800;
       }
